@import url("https://fonts.googleapis.com/css2?family=Grey+Qo&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.inter-normal-grey-qo-regular {
  font-family: "Inter", sans-serif, "Grey Qo", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.grey-qo-regular {
  font-family: "Grey Qo", cursive;
  font-weight: 400;
  font-style: normal;
}

body {
  background: rgb(0, 0, 0);
  margin: 0;
  padding: 0;
  font-family: inter;
  height: 100vh;
}

.navbarss {
  list-style: none;

  display: none;
}

nav {
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: Inter;
}
nav h1 {
  color: rgb(230, 83, 60);
  font-size: 36px;
}
nav ul {
  list-style: none;

  display: flex;

  gap: 47px;

  font-size: 18px;

  border: 1px solid #303030;

  border-radius: 49px;

  padding: 3px 24px 3px 4px;

  text-align: center;

  align-items: center;
}

#home {
  background-color: rgb(230, 83, 60);
  border-radius: 25px;
  padding: 10px 20px;
}

.banner {
  background: linear-gradient(
    to bottom,
    rgba(30, 30, 30, 1) 0%,
    rgba(30, 30, 30, 1) 1%,
    rgba(30, 30, 30, 0.79) 33%,
    rgba(30, 30, 30, 0.75) 48%,
    rgba(30, 30, 30, 0.78) 55%,
    rgba(0, 0, 0, 0.87) 74%,
    rgba(0, 0, 0, 1) 100%
  );
}
.parentofbannertextimage {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.bannertextbox {
  color: white;
}
.bannertextbox h1 {
  font-size: 87px;
  margin: 0;
  line-height: 85px;
  padding-bottom: 15px;
  font-family: inter;
}
.bannertextbox h1 span {
  font-family: Grey Qo;
  font-weight: 300;
  font-size: 118px;
}
.bannertextbox p {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 19px 0px;
}
.btn1 {
  border-radius: 42px;
  border: none;
  background: rgb(230, 83, 60);
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  padding: 16px 40px 16px 40px;
}
.btn2 {
  border-radius: 42px;
  border: 1px solid #595959;
  background: transparent;
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  padding: 16px 40px 16px 40px;
  margin: 0 10px;
}
.bannerimage {
  position: relative;
}

.workout {
  position: absolute;
  top: 25%;
  left: 76%;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 22px;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
  padding: 12px 32px;
}
.workout h1 {
  margin: 0 0 5px 0;

  font-size: 43px;

  font-family: inter;
}
.workout p {
  font-size: 13px;

  font-family: inter;

  font-weight: 100;

  margin: 4px 0;

  letter-spacing: 1px;
}

.videotutorial {
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 22px;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
  position: absolute;
  padding: 0px 24px;
  top: 50%;
  display: flex;
  left: 55%;
  gap: 20px;
}
.videotutorial h1 {
  font-size: 30px;
  margin: 10px 0 0;
  font-family: inter;
}
.videotutorial p {
  margin: 5px 0 18px;
  font-family: Inter;
  font-weight: 100;
}

.videotutorialcolor {
  background: red;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  margin-top: 31px;
}

.title {
  color: white;

  font-family: "Inter";

  text-align: center;

  margin-top: 50px;
}
.title h1 {
  font-size: 50px;

  font-weight: 800;

  margin: 30px 0 20px;
}
.title p {
  font-size: 14px;

  color: rgba(255, 255, 255, 0.5);
}

.boxparent {
  margin: 100px 0px;
  display: flex;
  justify-content: center;
  font-family: Inter;
}
.card {
  width: 275px;

  color: white;

  text-align: center;
}
.card img {
  border-radius: 50%;
  border: 5px solid #2b2b2b8a;
}

.card p {
  color: rgba(255, 255, 255, 0.5);
}
.parentruner {
  margin: 100px 0;
}
.runcontent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: auto;
  border-radius: 33px;
  background: rgb(34, 34, 34);
  padding: 41px 54px;
}

.runtext {
  color: white;

  font-family: inter;
}
.runtext h1 {
  font-size: 48px;

  margin: 0;
}
.runtext p {
  font-family: Inter;
  font-size: 14px;
  margin: 18px 0px;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 0.3px;
}
.runtext .btn1 {
  margin: 24px 0px 0;
  padding: 20px 70px;
  font-family: inter;
}

.runimg img {
  width: 400px;
}

.calculatortitle {
  color: white;
  font-family: "Inter";
  text-align: center;
  margin: 80px 0;
}
.calculatortitle h1 {
  font-size: 50px;

  font-weight: 800;

  margin: 30px 0 20px;
}
.calculatortitle p {
  font-size: 14px;

  color: rgba(255, 255, 255, 0.5);
}

.bmicalculatorparent {
  display: flex;
  background: rgb(34, 34, 34);
  margin: 88px 0px;
  justify-content: space-evenly;
  padding: 50px 0;
}

.tables h1 {
  font-size: 30px;
  color: #fff;
}

table,
th,
td {
  border: 1px solid #737373;
  border-collapse: collapse;
  padding: 14px 45px;
}

tr {
  color: white;
}

/* form calculator */
.bmi-calculator {
  padding: 30px;
  text-align: center;
}

.bmi-calculator {
  padding: 30px;
  text-align: center;
  width: 35%;
}
.bmi-calculator h1 {
  font-size: 25px;
  margin-bottom: 15px;
  color: #fff;
}
.bmi-calculator p {
  font-size: 14px;
  margin-bottom: 20px;
  color: #bbb;
}
.input-group {
  margin-bottom: 15px;
}

.hewe {
  width: 44%;
  padding: 10px;
  background-color: #4a4a4a;
  border: none;
  border-radius: 5px;
  color: #fff;
}

.hewe {
  width: 215px;
  padding: 15px;
  background-color: #4a4a4a;
  border: none;
  border-radius: 5px;
  color: #fff;
}
.hewe1 {
  width: 245px;
  padding: 15px;
  background-color: #4a4a4a;
  border: none;
  border-radius: 5px;
  color: #fff;
}
.hewe2 {
  width: 494px;
  padding: 15px;
  background-color: #4a4a4a;
  border: none;
  border-radius: 5px;
  color: #fff;
  margin: auto;
}
input::placeholder {
  color: #aaa;
}
.meetoutteamtext {
  color: white;
  font-family: "Inter";
  text-align: center;
  margin: 80px 0;
}
.meetoutteamtext h1 {
  font-size: 50px;

  font-weight: 800;

  margin: 30px 0 20px;
}
.meetoutteamtext p {
  font-size: 14px;

  color: rgba(255, 255, 255, 0.5);
}

.images-parents {
  width: 80%;

  margin: auto;

  border-radius: 20px;

  padding: 20px;

  gap: 20px;

  background: rgba(255, 255, 255, 0.1);
}
.imageboxs {
  display: flex;

  justify-content: space-evenly;

  position: relative;
}
.imageboxs img {
  width: 350px;

  border-radius: 30px;

  background-color: black;

  opacity: 0.8;

  margin: 20px 0;
}
.imgboox,
.imgboox4 {
  position: absolute;

  color: white;

  opacity: 1;

  top: 60%;

  left: 4%;
}
.imgboox2,
.imgboox5 {
  position: absolute;

  color: white;

  opacity: 1;

  left: 37%;

  top: 60%;
}
.imgboox3,
.imgboox6 {
  position: absolute;

  color: white;

  opacity: 1;

  top: 60%;

  left: 70%;
}

.imgboox h4,
.imgboox2 h4,
.imgboox3 h4,
.imgboox4 h4,
.imgboox5 h4,
.imgboox6 h4 {
  font-size: 25px;

  margin: 45px 0 0;
}

.imgboox p,
.imgboox2 p,
.imgboox3 p,
.imgboox4 p,
.imgboox5 p,
.imgboox6 p {
  font-size: 14px;

  color: rgba(255, 255, 255, 0.5);
}
footer {
  color: white;
  background: #454545;
}
.footerparent {
  display: flex;
  justify-content: space-evenly;
  padding: 40px 0;
  margin: 100px 0;
}
.text1 {
  color: white;
  width: 30%;
}
.text1 h1 {
  color: rgb(230, 83, 60);
  font-size: 50px;
}
.text1 p {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
  line-height: 24px;
}
.copyright {
  text-align: center;
  /* margin: 30px 0 0; */
  padding: 34px 0;
}
.text2 li {
  list-style: none;
  line-height: 43px;
  font-size: 25px;
  color: rgba(255, 255, 255, 0.5);
}

/* mobile media  */
@media screen and (max-width: 425px) {
  nav {
    gap: 186px;
  }
  nav h1 {
    font-size: 41px;
    margin-bottom: 10px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    padding: 10px 20px;
  }
  .navbarss {
    display: flex;
    margin-top: 35px;
    font-size: 30px;
  }

  .bannertextbox h1 {
    font-size: 40px;
    line-height: 50px;
  }
  .bannertextbox h1 span {
    font-size: 60px;
  }
  .bannertextbox p {
    font-size: 13px;
    line-height: 20px;
    width: 60%;
    margin-top: 5px;
  }
  .btn1,
  .btn2 {
    padding: 12px 30px;
    font-size: 16px;
    margin: 5px 7px;
  }
  .parentofbannertextimage {
    flex-direction: column;
    margin-top: 60px;
  }
  .bannerimage {
    height: auto;
    position: relative;
    margin-top: 20px;
  }
  .workout {
    position: absolute;
    top: 63%;
    left: 53%;
    margin: 0;
    width: auto;
    padding: 5px 14px;
  }
  .videotutorial {
    position: absolute;
    top: 87%;
    left: 10%;
    margin: 0;
    padding: 0px 16px;
    gap: 12px;
  }
  .workout h1 {
    font-size: 30px;
  }
  .videotutorial h1 {
    font-size: 30px;
    margin: 2px;
  }
  .workout p {
    font-size: 12px;
  }
  .videotutorial p {
    font-size: 12px;
  }
  .videotutorialcolor {
    width: 40px;
    height: 40px;
    margin-top: 18px;
  }

  .title {
    margin: 0;
  }

  .title h1 {
    font-size: 36px;
    margin: 6px 0 10px;
  }

  .title p {
    font-size: 12px;
    line-height: 18px;
  }

  .boxparent {
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
  }
  .card {
    width: 90%;
    margin-bottom: 30px;
  }
  .card img {
    width: 150px;
    height: 150px;
  }
  .card h2 {
    font-size: 24px;
    margin: 15px 0;
  }
  .card p {
    font-size: 14px;
    line-height: 20px;
  }

  .parentruner {
    margin: 50px 0;
  }
  .runcontent {
    flex-direction: column;
    padding: 35px 33px;
  }
  .runtext {
    margin-bottom: 30px;
  }
  .runtext h1 {
    font-size: 36px;
    line-height: 42px;
  }
  .runtext p {
    font-size: 14px;
    line-height: 23px;
  }
  .runtext .btn1 {
    padding: 20px 80px;
    font-family: inter;
    margin-left: 16px;
    font-size: 23px;
  }
  .runimg img {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }
  .calculatortitle {
    text-align: left;

    margin-left: 16px;
  }

  .calculatortitle h1 {
    font-size: 36px;
  }
  .calculatortitle p {
    font-size: 14px;
  }
  .bmicalculatorparent {
    flex-direction: column;
    align-items: center;
    padding: 20px 15px;
    margin: 50px 0;
  }
  .tables {
    width: 100%;
    margin-bottom: 30px;
  }
  .tables h1 {
    font-size: 24px;
  }
  table,
  th,
  td {
    width: 100%;
    padding: 10px;
  }
  .bmi-calculator {
    width: 80%;
    text-align: left;
  }
  .bmi-calculator h1 {
    font-size: 24px;
  }
  .input-group {
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
  }
  .hewe {
    width: 125px;
    padding: 15px;
    margin-bottom: 15px;
  }
  .hewe1 {
    width: 155px;
    padding: 15px;
    margin-bottom: 15px;
  }
  .hewe2 {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
  }
  .images-parents {
    width: 80%;
    padding: 10px;
  }
  .imageboxs {
    flex-direction: column;
    align-items: center;
  }
  .imageboxs img {
    width: 100%;
    height: 300px;
    margin: 17px 0;
    border-radius: 15px;
  }
  .imgboox {
    position: absolute;
    top: 23%;
  }
  .imgboox h4,
  .imgboox2 h4,
  .imgboox3 h4,
  .imgboox4 h4,
  .imgboox5 h4,
  .imgboox6 h4 {
    font-size: 20px;
    margin: 15px 0 5px;
  }
  .imgboox p,
  .imgboox2 p,
  .imgboox3 p,
  .imgboox4 p,
  .imgboox5 p,
  .imgboo6 p {
    font-size: 12px;
  }
  .imgboox2 {
    position: absolute;
    top: 56%;
    left: 4%;
  }

  .imgboox3 {
    position: absolute;
    top: 90%;
    left: 4%;
  }
  .imgboox4 {
    position: absolute;
    top: 23%;
    left: 4%;
  }
  .imgboox5 {
    position: absolute;
    top: 56%;
    left: 4%;
  }
  .imgboox6 {
    position: absolute;
    top: 89%;
    left: 4%;
  }

  footer {
    background-color: #454545;
  }
  .footerparent {
    flex-direction: column;
    padding: 20px 15px;
    margin: 50px 0;
  }
  .text1 {
    width: 100%;
    margin-bottom: 20px;
  }
  .text1 h1 {
    color: rgb(230, 83, 60);
    font-size: 50px;
  }
  .text1 p {
    color: rgba(255, 255, 255, 0.7);
    line-height: 22px;
  }
  .text2 {
    width: 100%;
    margin-bottom: 20px;
  }
  .text2 li {
    line-height: 35px;
    color: rgba(255, 255, 255, 0.7);
  }
  
  .copyright {
    text-align: left;
    padding: 20px 12px;
    color: rgba(255, 255, 255, 0.7);
  }
}
